  .yctc_840
        {
            left: 0.5%;
            top: 8%;
            width: 840px;
        }
        .select_2155
        {
            border: 1px solid #ddd;
            height: 35px;
            line-height: 35px;
            width: 60px;
        }
        .autoScroll
        {
            width: 300px;
            height: 100px;
            overflow: auto;
        }
        .fprw-xzgl p
        {
            float: left;
            margin-right: 5px;
        }