a:hover
        {
            color: #555 /* 颜色 */ font-seze: 14px; /* 字号 */
            font-weight: bold: /* 加粗 */;
        }
        .cue
        {
            color: #e4393c;
            line-height: 35px;
            height: 35px;
            position: absolute;
            width: 260px;
            padding: 0 5px;
            background: #FFEBEB;
            border: 1px solid #ffbdbe;
            color: #666;
            width: 260px;
            line-height: 36px;
            background: #f7f7f7;
            border: 1px solid #dddddd;
            display: none;
        }
        .input_215
        {
            border: 1px solid #ddd;
            height: 35px;
            line-height: 35px;
            width: 322px;
        }
        .err
        {
            color: #f00;
            line-height: 35px;
            height: 35px;
            position: absolute;
            width: 260px;
            padding: 0 5px;
            background: #FFEBEB;
            border: 1px solid #ffbdbe;
            color: #e4393c;
            width: 260px;
            line-height: 36px;
            background: #FFEBEB;
            border: 1px solid #ffbdbe;
            display: none;
        }